body {
    font-family:sans-serif, sans-serif;
    line-height: 2;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #020502;
    }
    header {
    background-color: #28612a;
    color: white;
    padding: 1rem 0;
    text-align: center;
    }
    
    header nav ul {
    list-style: none;
    padding: 1;
    }
    
    header nav ul li {
    display: inline;
    margin: 0 10px;
    }
    
    header nav ul li a {
    color: white;
    text-decoration: none;
    }
    #titulo-principal {
    text-align: center;
    margin: 2rem 0;
    padding: 1rem;
    background-color: #4caf50;
    color:white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    #titulo-principal h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    }
    #Acerca-de-mi
    { padding: 8rem;
    margin: 7rem auto;
    background-color: rgb(89, 91, 214);
    border-radius: 15px;
    width: 1000px;
    box-shadow: 0 8cap 5px rgba(0, 0, 0, 0.1);
    }
    #Acerca-de-mi img {
    width:400px;
    }
    h2 {
    color: #4c469b}

  .container {
    max-width: 60%; /* Define el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 40px; /* Agrega un poco de espacio alrededor del formulario */
    border: 25px; /* Agrega un borde al contenedor */
    border-color: #238f47;
    border-radius: 15; /* Agrega bordes redondeados al contenedor */
    

    .titulo_seccion {
        position: relative;
        font-size: 40px;
        color: #003750;
        text-align: center;
        }
        }
        .form-group {
            margin-bottom: 15px;
            }
            label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            }
            input, textarea {
            width: 80%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            }
            button {
            background-color: #003750;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            }
            button:hover {
            background-color: #0056b3;
        }
        
        
        
    footer {
        text-align: center;
        padding: 1rem;
        background-color: #333;
        color: white;
        margin-top:40px;}
        footer a {
            text-decoration: none;
        }

        /*MENU*/
        #check {
            display: none;
        }
        .checkbtn {
            font-size: 25px;
            color: rgb(202, 28, 28);
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }
 /* Estilos para pantallas más pequeñas (hasta 768px) */
 @media (max-width: 768px) {
    h2 {
        color: #0e880e}
        footer {
            text-align: center;
            padding: 1rem;
            background-color: #333333;
            color: rgb(202, 186, 186);
            margin-top: 30px;/* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
  }
 }